{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "no-shadow": "off",
    "camelcase": "off",
    "@typescript-eslint/no-unsafe-assignment": ["error"]
  },
  "ignorePatterns": ["*.js", "src/db/migrations/*"]
}
